html {
    width: 600px;
    height: 450px;
}

body {
    margin: 0;
    font-size: 15px;
    color: #333;
    background-color: white;
}

#main-view {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}

.vault-list-section {
    background-color: #3C4757;
    width: 80px;
}

.vault-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vault {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #D8DADD;
    font-size: 13px;
}

.item-summary-list-section {
    width: 250px;
}

.item-summary-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.item-summary {
    margin: 0;
    padding: 10px;
    border-top: 1px solid #ECECEC;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.item-summary:first-child {
    border-top: none;
}

.item-summary__title {
    font-weight: 600;
}

.item-summary__username {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

.item-details-section {
    border-left: 1px solid #CCCCCC;
    background-color: #f7f7f7;
    flex-grow: 1;
}

.item-details {
    padding: 20px;
}

.item-details__field {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.item-details__field-label {
    color: blue;
    font-size: 13px;
}
